# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Olivier\Projects\Software\Public\Hebrew Calendar\Project\Properties\ codebase based on best match to current usage at 26/03/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]
MA0051.maximum_lines_per_method = 120
MA0051.maximum_statements_per_method = 60
MA0051.skip_local_functions = false # skip local functions when counting statements

# MA0037: Remove empty statement
dotnet_diagnostic.MA0037.severity = warning

# MT1012: Acquiring lock without guarantee of releasing
dotnet_diagnostic.MT1012.severity = warning

# MT1013: Releasing lock without guarantee of execution
dotnet_diagnostic.MT1013.severity = warning
