<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ordisoftware.HebrewCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Ordisoftware.HebrewCalendar.Properties.Settings.ConnectionString"
      connectionString="Dsn=Hebrew-calendar" providerName="System.Data.Odbc" />
    <add name="Ordisoftware.HebrewCalendar.Properties.Settings.Hebrew_calendarConnectionString"
      connectionString="Data Source=Ordinateur\SQLExpress;Initial Catalog=Hebrew-calendar;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Ordisoftware.HebrewCalendar.Properties.Settings>
      <setting name="MainFormPosition" serializeAs="String">
        <value>Center</value>
      </setting>
      <setting name="MainFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ESCtoExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmClosing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowTips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShabatDay" serializeAs="String">
        <value>Saturday</value>
      </setting>
      <setting name="CurrentView" serializeAs="String">
        <value>Text</value>
      </setting>
      <setting name="Latitude" serializeAs="String">
        <value>48.52</value>
      </setting>
      <setting name="Longitude" serializeAs="String">
        <value>2.15</value>
      </setting>
      <setting name="CountDayMoonAsSun" serializeAs="String">
        <value>False</value>
      </setting>
    </Ordisoftware.HebrewCalendar.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
