<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ordisoftware.Hebrew.Calendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<userSettings>
		<Ordisoftware.Hebrew.Calendar.Properties.Settings>
   <setting name="MainFormPosition" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="MainFormLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="ESCtoExit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConfirmClosing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FontName" serializeAs="String">
    <value>Courier New</value>
   </setting>
   <setting name="FontSize" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ShowTips" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShabatDay" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="CurrentView" serializeAs="String">
    <value>Month</value>
   </setting>
   <setting name="GPSLatitude" serializeAs="String">
    <value />
   </setting>
   <setting name="GPSLongitude" serializeAs="String">
    <value />
   </setting>
   <setting name="TextColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="TextBackground" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="NavigateTopColor" serializeAs="String">
    <value>LemonChiffon</value>
   </setting>
   <setting name="NavigateMiddleColor" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="NavigateBottomColor" serializeAs="String">
    <value>Honeydew</value>
   </setting>
   <setting name="TrayIconClickOpen" serializeAs="String">
    <value>MainForm</value>
   </setting>
   <setting name="StartupHide" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderCelebrationsInterval" serializeAs="String">
    <value>14</value>
   </setting>
   <setting name="ReminderCelebrationsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindNewYearD1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TorahEventRemindNewYearD10" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindPessahD1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindPessahD7" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TorahEventRemindChavouotDiet" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindChavouot1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindChavouot2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindYomTerouah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindYomHaKipourim" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindSoukotD1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindSoukotD8" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderShabatEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CurrentDayForeColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="CalendarColorTorahEvent" serializeAs="String">
    <value>DarkRed</value>
   </setting>
   <setting name="CalendarColorSeason" serializeAs="String">
    <value>DarkGreen</value>
   </setting>
   <setting name="CalendarColorMoon" serializeAs="String">
    <value>DarkBlue</value>
   </setting>
   <setting name="CalendarColorFullMoon" serializeAs="String">
    <value>150, 100, 0</value>
   </setting>
   <setting name="RemindShabatOnlyLight" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RemindShabatHoursBefore" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="RemindShabatEveryMinutes" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="CheckUpdateAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LanguageSelected" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="RemindCelebrationHoursBefore" serializeAs="String">
    <value>24</value>
   </setting>
   <setting name="RemindCelebrationEveryMinutes" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="TorahEventRemindDayNewYearD1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TorahEventRemindDayNewYearD10" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayPessahD1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayPessahD7" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayChavouotDiet" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TorahEventRemindDayChavouot1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayChavouot2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayYomTerouah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDayYomHaKipourim" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDaySoukotD1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TorahEventRemindDaySoukotD8" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GPSCountry" serializeAs="String">
    <value />
   </setting>
   <setting name="GPSCity" serializeAs="String">
    <value />
   </setting>
   <setting name="BalloonEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowReminderInTaskBar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BalloonAutoHide" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EventColorTorah" serializeAs="String">
    <value>255, 255, 230</value>
   </setting>
   <setting name="UseColors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EventColorShabat" serializeAs="String">
    <value>240, 240, 240</value>
   </setting>
   <setting name="EventColorSeason" serializeAs="String">
    <value>245, 255, 240</value>
   </setting>
   <setting name="NextCelebrationsFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="UpgradeResetRequiredV3_0" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CurrentDayBackColor" serializeAs="String">
    <value>Firebrick</value>
   </setting>
   <setting name="EventColorNext" serializeAs="String">
    <value>240, 240, 240</value>
   </setting>
   <setting name="EventColorMonth" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="TorahEventsCountAsMoon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BalloonLoomingDelay" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="SearchLunarMonthFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="SearchCelebrationFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="TimeZone" serializeAs="String">
    <value />
   </setting>
   <setting name="UpgradeResetRequiredV3_6" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoLockSession" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoLockSessionTimeOut" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="LockSessionMediaStop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HebrewLettersExe" serializeAs="String">
    <value>C:\Program Files\Ordisoftware\Hebrew Letters\Bin\Ordisoftware.Hebrew.Letters.exe</value>
   </setting>
   <setting name="LunarMonthsFormUseColors" serializeAs="String">
    <value>Pastel</value>
   </setting>
   <setting name="LunarMonthsFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="MonthViewFontSize" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="AutoOpenExportFolder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="VacuumAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunchV4" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DebuggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VacuumLastDone" serializeAs="String">
    <value />
   </setting>
   <setting name="MonthViewBackColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="MonthViewTextColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="MonthViewNoDaysBackColor" serializeAs="String">
    <value>250, 250, 250</value>
   </setting>
   <setting name="MoonDayTextFormat" serializeAs="String">
    <value>%MONTHNAME% [%MONTHNUM%] #%DAYNUM%</value>
   </setting>
   <setting name="LastSuspendDelaySelected" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="UpgradeResetRequiredV4_1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WebLinksMenuEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AllowSuspendReminder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SearchGregorianMonthFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="CheckUpdateLastDone" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoRegenerate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GenerateIntervalMaximum" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="BenchmarkLoadData" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkFillCalendar" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkGenerateYears" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkStartingApp" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StatisticsFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="AutoGenerateYearsInternal" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LastGenerated" serializeAs="String">
    <value />
   </setting>
   <setting name="StatisticsFormAlwaysOnTop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BenchmarkPopulateDays" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkAnalyseDays" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkGenerateTextReport" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ReminderFormCloseOnClick" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BigCalendarWarningEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TraceFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="TraceFormSize" serializeAs="String">
    <value>884, 661</value>
   </setting>
   <setting name="TraceFormTextBoxFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="TraceEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SoundsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AdvancedDialogBoxes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReminderBoxSoundPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ReminderBoxSoundSource" serializeAs="String">
    <value>Dialog</value>
   </setting>
   <setting name="ReminderBoxSoundDialog" serializeAs="String">
    <value>Asterisk</value>
   </setting>
   <setting name="ReminderBoxSoundWindows" serializeAs="String">
    <value />
   </setting>
   <setting name="PreferencesFormSelectedTabIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CalculatorExe" serializeAs="String">
    <value>calc.exe</value>
   </setting>
   <setting name="DatesDiffCalculatorFormAutoSetRightToToday" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VacuumAtStartupDaysInterval" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="CheckUpdateAtStartupDaysInterval" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="CheckUpdateEveryWeekWhileRunning" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportFolder" serializeAs="String">
    <value>%USER_APP_DOCUMENTS%</value>
   </setting>
   <setting name="ShowSuccessDialogs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderBoxSoundApplication" serializeAs="String">
    <value />
   </setting>
   <setting name="ApplicationVolume" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="BalloonOnlyIfMainFormIsHidden" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UsageStatisticsEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DateBookmarksCount" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="ManageDateBookmarksFormClientSize" serializeAs="String">
    <value>264, 311</value>
   </setting>
   <setting name="AutoOpenExportedFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RestoreLastViewAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowPrintPreviewDialog" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintingMargin" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="UpgradeResetRequiredV5_10" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintPageCountWarning" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="ExportDataPreferredTarget" serializeAs="String">
    <value>CSV</value>
   </setting>
   <setting name="PrintImageInLandscape" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportDataEnumsAsTranslations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveImageCountWarning" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="ExportImagePreferredTarget" serializeAs="String">
    <value>PNG</value>
   </setting>
   <setting name="CelebrationsBoardFormFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="CelebrationsBoardFormUseLongDateFormat" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GlobalHotKeyPopupMainFormKey" serializeAs="String">
    <value>67</value>
   </setting>
   <setting name="GlobalHotKeyPopupMainFormModifiers" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="GlobalHotKeyPopupMainFormEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CelebrationsBoardFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="CelebrationsBoardFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="CelebrationsBoardFormClientSize" serializeAs="String">
    <value>984, 461</value>
   </setting>
   <setting name="CelebrationsBoardFormUseTitleUpperCase" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainFormShownGoToToday" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CelebrationsBoardFormUseAbbreviatedNames" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NewMoonsBoardFormFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="NewMoonsBoardFormUseTitleUpperCase" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NewMoonsBoardFormUseLongDateFormat" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NewMoonsBoardFormUseAbbreviatedNames" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NewMoonsBoardFormUseRealDays" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CelebrationsBoardFormUseRealDays" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NewMoonsBoardFormHideHours" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CelebrationsBoardFormHideHours" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NewMoonsBoardFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="NewMoonsBoardFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="NewMoonsBoardFormClientSize" serializeAs="String">
    <value>984, 461</value>
   </setting>
   <setting name="WindowsDoubleBufferingEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WeatherAppPath" serializeAs="String">
    <value>msnweather:</value>
   </setting>
   <setting name="WeatherMenuItemsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReminderBoxDesktopLocation" serializeAs="String">
    <value>Fixed</value>
   </setting>
   <setting name="WeatherOnlineProvider" serializeAs="String">
    <value>MeteoblueDotCom</value>
   </setting>
   <setting name="WeatherOnlineUseDay" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CalendarColorParashah" serializeAs="String">
    <value>Indigo</value>
   </setting>
   <setting name="CalendarShowParashah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HebrewWordsExe" serializeAs="String">
    <value>C:\Program Files\Ordisoftware\Hebrew Words\Bin\Ordisoftware.Hebrew.Words.exe</value>
   </setting>
   <setting name="GrammarGuideFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="GrammarGuideFormSize" serializeAs="String">
    <value>542, 666</value>
   </setting>
   <setting name="ParashotFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="ParashotFormClientSize" serializeAs="String">
    <value>984, 676</value>
   </setting>
   <setting name="ParashotFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="ParashotFormColumnTranslationWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="TrayIconUseSpecialDayIcon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ParashotFormFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="CelebrationsBoardFormEnglishColumns" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NewMoonsBoardFormShowMonthNumbers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FirstLaunchV7_0" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseSimhatTorahOutside" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainFormTitleBarShowWeeklyParashah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowLastNewInVersionAfterUpdate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainFormTitleBarShowToday" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CalendarLineSpacing" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ReminderShabatShowParashah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BenchmarkTranslate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LockSessionDefaultAction" serializeAs="String">
    <value>LockSession</value>
   </setting>
   <setting name="LockSessionConfirmLogOffOrMore" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AskRegenerateIfIntervalGreater" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WeeklyParashahShowAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WeeklyParashahShowAtNewWeek" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReminderShowLockoutIcon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LoadingFormHidden" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NavigationWindowCloseOnShowMainForm" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ParashahCaptionWithBookAndRef" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NavigationWindowUseUnicodeIcons" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CelebrationVersesBoardFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="CelebrationVersesBoardFormClientSize" serializeAs="String">
    <value>384, 306</value>
   </setting>
   <setting name="MonthViewChangeDayOnClick" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectedDayBoxColor" serializeAs="String">
    <value>Brown</value>
   </setting>
   <setting name="CalendarUseHoverEffect" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CalendarColorHoverEffect" serializeAs="String">
    <value>Silver</value>
   </setting>
   <setting name="CalendarShowSelectedBox" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectedDayBoxColorOnlyCurrent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CalendarColorActiveDay" serializeAs="String">
    <value>LightSlateGray</value>
   </setting>
   <setting name="CalendarDoubleClickAction" serializeAs="String">
    <value>SetActive</value>
   </setting>
   <setting name="MainFormTitleBarShowCelebration" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TraceFormShowOnlyErrors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunchV9_14" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunchV9_17" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunchV9_18" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseSodHaibour" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManageAcquaintanceEventsForm" serializeAs="String">
    <value>584, 361</value>
   </setting>
   <setting name="CustomWebSearch" serializeAs="String">
    <value>https://www.google.com/search?q=studybible.info+Strong+Hebrew+Lexicon+KJV+Usage+%WORD%</value>
   </setting>
  </Ordisoftware.Hebrew.Calendar.Properties.Settings>
	</userSettings>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
