<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ordisoftware.HebrewCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Ordisoftware.HebrewCalendar.Properties.Settings.ConnectionString"
      connectionString="Dsn=Hebrew-calendar" providerName="System.Data.Odbc" />
  </connectionStrings>
  <userSettings>
    <Ordisoftware.HebrewCalendar.Properties.Settings>
      <setting name="MainFormPosition" serializeAs="String">
        <value>Center</value>
      </setting>
      <setting name="MainFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ESCtoExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmClosing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowTips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShabatDay" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CurrentView" serializeAs="String">
        <value>Month</value>
      </setting>
      <setting name="GPSLatitude" serializeAs="String">
        <value />
      </setting>
      <setting name="GPSLongitude" serializeAs="String">
        <value />
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="TextBackground" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="NavigateTopColor" serializeAs="String">
        <value>LemonChiffon</value>
      </setting>
      <setting name="NavigateMiddleColor" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="NavigateBottomColor" serializeAs="String">
        <value>Honeydew</value>
      </setting>
      <setting name="TrayIconClickOpen" serializeAs="String">
        <value>MainForm</value>
      </setting>
      <setting name="StartupHide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReminderCelebrationsInterval" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="ReminderCelebrationsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindNewYearD1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TorahEventRemindNewYearD10" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindPessahD1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindPessahD7" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindChavouotDiet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindChavouot1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindChavouot2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindYomTerouah" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindYomHaKipourim" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindSoukotD1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindSoukotD8" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReminderShabatEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MonthViewSunToolTips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentDayForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CalendarColorTorahEvent" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="CalendarColorSeason" serializeAs="String">
        <value>DarkGreen</value>
      </setting>
      <setting name="CalendarColorMoon" serializeAs="String">
        <value>DarkBlue</value>
      </setting>
      <setting name="CalendarColorFullMoon" serializeAs="String">
        <value>150, 100, 0</value>
      </setting>
      <setting name="RemindShabatOnlyLight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemindShabatHoursBefore" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="RemindShabatEveryMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CheckUpdateAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="RemindCelebrationHoursBefore" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="RemindCelebrationEveryMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TorahEventRemindDayNewYearD1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TorahEventRemindDayNewYearD10" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayPessahD1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayPessahD7" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayChavouotDiet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TorahEventRemindDayChavouot1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayChavouot2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayYomTerouah" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDayYomHaKipourim" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDaySoukotD1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TorahEventRemindDaySoukotD8" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GPSCountry" serializeAs="String">
        <value />
      </setting>
      <setting name="GPSCity" serializeAs="String">
        <value />
      </setting>
      <setting name="BalloonEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowReminderInTaskBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BalloonAutoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EventColorTorah" serializeAs="String">
        <value>255, 255, 230</value>
      </setting>
      <setting name="UseColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EventColorShabat" serializeAs="String">
        <value>240, 240, 240</value>
      </setting>
      <setting name="EventColorSeason" serializeAs="String">
        <value>245, 255, 240</value>
      </setting>
      <setting name="NextCelebrationsFormLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="UpgradeResetRequiredV3_0" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentDayBackColor" serializeAs="String">
        <value>200, 0, 0</value>
      </setting>
      <setting name="EventColorNext" serializeAs="String">
        <value>240, 240, 240</value>
      </setting>
      <setting name="EventColorMonth" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="TorahEventsCountAsMoon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BalloonLoomingDelay" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SearchLunarMonthFormLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="SearchCelebrationFormLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="TimeZone" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeResetRequiredV3_6" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLockSession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLockSessionTimeOut" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LockSessionMediaStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HebrewLettersExe" serializeAs="String">
        <value>c:\Program Files\Ordisoftware\Hebrew Letters\Bin\Ordisoftware.HebrewLetters.exe</value>
      </setting>
      <setting name="MoonMonthsFormUseColors" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="MoonMonthsFormLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="MonthViewFontSize" serializeAs="String">
        <value>9</value>
      </setting>
    </Ordisoftware.HebrewCalendar.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
